/* Start Variables */
:root {
    --main-color: #000000;
    --second-color: #789AA5;
    --third-color: #FFFFFF;
}
/* End Variables */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'ReggaeOne';
    src: url(../fonts/ReggaeOne-Regular.ttf);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    /* background-color: black; */
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
header {
    background-color: white;
    /* position: absolute; */
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav .toggle-menu {
    color: var(--main-color);
    font-size: 35px;
}
@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}
header nav ul {
    display: flex;
}
@media(max-width: 768px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
    }
    header nav ul li a {
        padding: 15px !important;
    }
}
header nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px;
}
/* End Header */
/* Start Contact-Section */
.content {
    background-color: var(--second-color);
    width: cover;
    min-height: 217vh;
}
.content .container .card1 h3 {
    color: var(--third-color);
    font-family: 'ReggaeOne', sans-serif;
    text-align: center;
    padding-top: 45px;
    font-size: 45px;
    margin-bottom: 45px;
}
.content .container .card1 img {
    height: 250px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.content .container .card1 p {
    margin-top: 45px;
    color: var(--third-color);
    width: 461px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8;
}
.content .container .card2 {
    display: flex;
    align-items: center;
    gap: 15%;
}
.content .container .card2 img {
    margin-top: 50px;
    height: 360px;
    margin-left: 10%;
    
}
.content .container .card2 p {
    color: var(--third-color);
    width: 500px;
    line-height: 1.8;
    margin-top: 50px;
}
.content .container .card3 img {
    margin-top: 70px;
    height: 460px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.content .container .card3 p {
    color: var(--third-color);
    width: 500px;
    line-height: 1.8;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
/* End Contact-Section */
/* Start Footer */
.f-container {
    background-color: var(--third-color);
    min-height: 182px;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}
.f-container p {
    margin-top: 45px;
}
.f-container img {
    height: 40px;
    margin-top: 35px;
}
footer .copyright {
    text-align: center;
    position: relative;
    margin-bottom: 6%;
    margin-top: -2%;
}
/* End Footer */