/* Start Variables */
:root {
    --main-color: #000000;
    --second-color: #789AA5;
    --third-color: #FFFFFF;
}
/* End Variables */
/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'ReggaeOne';
    src: url(../fonts/ReggaeOne-Regular.ttf);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    /* background-color: black; */
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
header {
    background-color: white;
    /* position: absolute; */
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav .toggle-menu {
    color: var(--main-color);
    font-size: 35px;
}
@media (min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}
header nav ul {
    display: flex;
}
@media(max-width: 768px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
    }
    header nav ul li a {
        padding: 15px !important;
    }
}
header nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px;
}
/* End Header */
/* Start Menu */

.menu-container h2 {
    margin-top: 40px;
    font-size: 45px;
    font-family: 'ReggaeOne' , sans-serif;
    text-align: center;
}
.menu-container .buttons {
    margin-top: 7%;
    width: 700px;
    display: flex;
    justify-content: space-around;
}
.menu-container .buttons button {
    width: 100px;
    padding: 7px;
    background-color: var(--third-color);
    border: 1px solid var(--second-color);
    border-radius: 5px;
    color: var(--second-color);
}
.menu-container .buttons .selected-button {
    background-color: var(--second-color);
    color: white;
}
.menu-container .shop-button {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-42px);
}
.menu-container .shop-button i {
    font-size: 45px;
}
/* End Menu */
/* Start Menu grid */
.grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 20px;
    row-gap: 100px;
    margin-bottom: 100px;
}
.grid-container .food-card-info {
    width: 300px;
}
.grid-container .food-card-info img {
    height: 170px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.grid-container .food-card-info h2 {
    margin-bottom: 20px;
    text-align: center;
}
.grid-container .food-card-info p {
    text-align: center;
    line-height: 1.9;
    margin-bottom: 20px;
}
.grid-container .food-card-info h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}
.grid-container .food-card-info button {
    padding: 15px;
    width: 100%;
    text-align: center;
    background-color: var(--second-color);
    border-radius: 5px;
    border: none;
    color: var(--third-color)
}
/* End Menu grid */
/* Start Footer */
.f-container {
    background-color: var(--third-color);
    min-height: 182px;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}
.f-container p {
    margin-top: 45px;
}
.f-container img {
    height: 40px;
    margin-top: 35px;
}
footer .copyright {
    text-align: center;
    position: relative;
    margin-bottom: 6%;
    margin-top: -2%;
}
/* End Footer */